@use '@tunaiku-ui/spacing/scss/variables' as spacing;
@use '@tunaiku-ui/shape/scss/variables' as shape;
@use '@tunaiku-ui/color/scss/variables' as color;

// NEW
$defaultPadding: spacing.get('base') !default;

$defaultBgColor: color.getTheme('white') !default;
$defaultFgColor: color.getContrast($defaultBgColor) !default;

$defaultBorderColor: color.getTheme('light') !default;
$defaultBorderRadius: shape.getBorderRadius('xlarge') !default;

$defaultElevationLevel: 1 !default;
$defaultElevationOpacity: 0.1 !default;

// OLD
